.Contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Contact a {
  color: white;
  margin: 50px;
  text-decoration: none;
}

.Contact a:hover {
  color: rgba(58, 195, 252, 255);
  margin: 50px;
  text-decoration: none;
  transition: all 0.2s linear;
}

@media screen and (max-width: 600px) {
  .Contact {
    flex-direction: column;
  }
  a {
    margin: 0 !important;
  }
}
