.carousel {
  display: flex;
  justify-content: center;
}

.carousel .slide {
  height: 50vh;
}

.carousel .slide img {
  max-height: 100%;
  max-width: auto;
}

.dot {
  width: 20px !important;
  height: 20px !important;
}

.image {
  margin: 0 auto;
  height: auto;
  width: auto;
}
.carousel-container {
  margin: 0 auto;
  height: auto;
  width: 60%;
}

.carousel-status {
  font-size: 20px !important;
}
.legend {
  font-size: 20px !important;
}
.thumb {
  cursor: pointer;
}
.control-prev.control-arrow {
  width: 60px;
}
.control-next.control-arrow {
  width: 60px;
}
