.carousel {
  display: flex;
  justify-content: center;
}

.carousel .slide {
  height: 50vh;
}

.carousel .slide img {
  max-height: 100%;
  max-width: auto;
}

.dot {
  width: 20px !important;
  height: 20px !important;
}

.image {
  margin: 0 auto;
  height: auto;
  width: auto;
}
.carousel-container {
  margin: 0 auto;
  height: auto;
  width: 80%;
}

.carousel-status {
  font-size: 20px !important;
}
.legend {
  font-size: 12px !important;
  opacity: 0.9 !important;
}
a {
  word-wrap: break-word;
  color: rgba(58, 195, 252, 255);
}
.thumb {
  cursor: pointer;
}
.control-prev.control-arrow {
  width: 60px;
}
.control-next.control-arrow {
  width: 60px;
}
.extra-p {
  display: none;
}
@media screen and (min-width: 300px) {
  .legend {
    font-size: 15px !important;
    opacity: 0.9 !important;
  }
}
@media screen and (min-width: 500px) {
  .extra-p {
    display: inline-block;
  }
}

@media screen and (min-width: 760px) {
  .legend {
    font-size: 20px !important;
    opacity: 0.9 !important;
  }
}
